@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400&display=swap');

* {
    font-family: 'Eczar', serif;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #F5F0EA;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.title{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Eczar', serif;
    text-transform: uppercase;
    margin-top: 200px;
}

.body-scan{
    background-color: #adb7af;
}

.upload{
    text-align: center;
}

.homepage{
    background-color: #F5F0EA;
}

.custom-file-upload {
    margin-left: 50px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #F5F0EA;
    font-family: 'Eczar', serif;
    text-transform: uppercase;
    margin-right: 20px;
}

input[type=file]::-webkit-file-upload-button {
    margin-left: 50px;
    display:none;
}

.scanBtn{
    color: white;
    background-color: #C4A299;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border: none;
    transition: 0.3s ease-in;
}

.scanBtn:hover{
    color:#C4A299;
    background-color: white;
    transition: 0.3s ease-in;
}

.after-scan{
    text-align: center;
    margin-top: 50px;
}

.result-test{
    text-transform: uppercase;
    padding: 20px;
    font-size: 2rem;
    font-weight: bolder;
}

.before-testing{
    margin-top: 20px;
    text-align: center;
}

.btn-homepage{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in;
    padding: 20px;
}

.btn-homepage:hover{
    letter-spacing: 3px;
    transition: 0.5s ease-in;
    color: #6B6361;
    text-decoration: solid;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.logo {
    width: 25%;
}

.scan-now{
    border-radius: 50px;
}

.scan-now:hover{
    background-color: #F5F0EA;
    color: #613E3C;
}

.body {
    background-color: #F5F0EA;
}